:root {
  background-color: white;
}

.swipe{
  overflow:auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  white-space:nowrap;
}

.topnav img {
  display: inline;
  width: 5%;
  float: left;
}

section.slide img{
  width: 50%;
}

section.feed img{
  top: 397px;
  left: 704px;
  width: 512px;
  height: 512px;
}

.class1,
.slide,
.class3 {
  width: 33.33%;
  float: left;
  height: 100px;
  background-color: white;
}

.feed {
  min-height: 70vh;
}

div.slide{
  align-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

/* CSS que afeta barra de navegação */
.topnav {
  overflow: hidden;
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* CSS pertinente ao search-element dentro da barra de navegação */
.topnav .search-element {
  display: flex;
  align-items: center;
}

/* CSS pertinente aos elementos especificos dentro do search-element */
.topnav .search-element img {
  height: 15px;
  width: auto;
}

/* CSS pertinente aos elementos especificos dentro do search-element */
.topnav .search-element input {
  height: 100%;
  width: 100px;
  margin-left: 3px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.topnav .download-btn:hover {
  background-color: #ddd;
}

.topnav .download-btn {
  color: white; 
  background-color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* CSS pertinente aos elementos de input dentro da barra de navegação */
.topnav input[type=text] {
  border: none;
  font-size: 13px;
}

.topnav input:focus { 
  outline: none;
}